/* PC、スマホ共通スタイル */
body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

p {
  font-size: 15px;
}


/*================
 PC用のスタイル 
=================*/
/* 画面幅が768px(iPadのサイズ）以上のときにスタイルを適用する */
@media screen and (min-width: 768px) {
/* 横幅設定 */
body {
  max-width: 1080px;
  min-width: 960px;
  margin: 0 auto 0 auto;
}
  
/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
}

/* ナビゲーションのレイアウト */
#nav-pc {
  font-size: 14px;
  padding-top: 15px;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc > a {
  text-decoration: none;
  margin-left: 20px;
}
#nav-pc > a:link {
  color: #0d0d0d;
}
#nav-pc > a:visited {
  color: #0d0d0d;
}
#nav-pc > a:hover {
  color: #0d0d0d;
  text-decoration: underline;
}
#nav-pc > a:active {
  color: #0d0d0d;
}

/* スマホ用ナビを非表示 */
#nav-sp,
#menu-sp {
  display: none;
}
#main-visual {
  position: relative;
  height: 400px;
}
#main-message {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2710d5;
  color: #ffffff;
  /* border-radiusは要素を角丸にするプロパティのこと */
  /* border-radius：左上 右上 右下 左下; */
  border-radius: 0 0 476px 0;
  max-width: 620px;
  height: 100%;
  width: 100%;
  /* 要素の重なりを示すプロパティ */
  z-index: 11;
}
/* WORLD PEACEの微調整 */
#main-message > h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 100px 0 0 50px;
}
/* 「IT教育で世界平和を実現する」の微調整 */
#main-message > p { 
  font-size: 28px;
  margin: 0 0 0 50px;
}
#main-visual > img {
  max-width: 620px;
  border-radius: 476px 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  /* main-messageの下にするため数字を低くしている */
  z-index: 10;
}

/* 見出し */
h2 {
  /* 余白：上に40px */
  margin: 40px 0 0 0;
}
/* Missionのすぐ隣に右側に青い線を追加 */
h2::after {
  content: url("images/line.png");
  margin-left: 10px;
}
h3 {
  font-size: 27px;
}
/* ミッション */
/* section要素 */
#mission {
  /* 余白上下に80px、左右にautoを指定（autoは中央寄せの意味） */
  margin: 80px auto 80px auto;
  width: 100%;
}
/* div要素 */
#mission-flex {
  width: 100%;
  /* 子要素を横並びにする＝div要素の二つのこと */
  display: flex;
}
#mission-flex > div {
  /* 二つのdiv要素をちょうど半分に分ける */
  width: 50%;
  /* 余白：上下左右に20px */
  margin: 20px;
}
#mission-photo {
  /* 親要素の幅いっぱいに広げる */
  width: 100%;
}
#s2dgs {
  margin-top: 50px;
  /* 親要素の幅いっぱいに広げる */
  width: 100%;
}

/* プロダクト */
#product {
  background-color: #fafafa;
  margin: 80px 0 80px 0;
  padding: 10px 40px 0px 40px;
}

/* 外枠 */
#product > div {
  margin-top: 40px;
  /* 親要素にdisplay: flex;を指定することで、子要素を横並びにできる */
  display: flex;
}

/* 左のカラム */
#product-left {
  width: 50%;
  margin-right: 20px;
}

/* 右のカラム */
#product-right {
  width: 50%;
  margin-left: 20px;
  margin-top: 80px;
}

/* 画像＋説明の枠 */
#product-left > div {
  position: relative;
  height: 480px;
  margin-right: 20px;
}

#product-right > div {
  position: relative;
  height: 480px;
  margin-left: 20px;
}

/* 画像 */
.product-photo {
  width: 100%;
}

/* 説明文の枠 */
.product-explain {
  background-color: #ffffff;
  /* 画像とテキストを重ねるには、絶対位置（position:absolute）で指定する */
  position: absolute;
  left: 0;
  top: 280px;
  margin: 0 40px 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

/* 説明文の英語 */
.product-explain > span {
  color: #2710d5;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

/* 説明文の見出し */
.product-explain > h3 {
  font-size: 20px;
  margin: 5px 0 5px 0;
}

/* 説明文 */
.product-explain > p {
  font-size: 14px;
  margin: 0;
}

/* 「もっとみる」ボタン */
#product-more {
  /* marginにマイナスの値を指定すると、親要素の外にはみ出す */
  margin: 0 auto -42px auto;
}
#aboutus {
  margin: 80px auto 80px auto;
}

/* 2枚目の画像をdivの外に表示していた為、１枚目のみ横に移動する */
#aboutus > div {
  display: flex;
}
.culture-img {
  margin-top: 50px;
/* 親要素いっぱいに広げる */
  width: 100%;
  /* 縦方向の揃え方を指す。上寄せ */
  align-self: flex-start;
}
.culture-img2 {
  margin-top: 50px;
  width: 100%;
}
.culture-table {
  /* 画像の間に余白を作る */
  margin-right: 50px;
}
/* 表の数字 */
.culture-num {
  font-size: 80px;
  color: #2710d5;
  margin-right: 20px;
}
.culture-en {
  color: #2710d5;
  font-weight: bold;
  font-size: 24px;
  /* 要素のレイアウトの見出しを縦並びにする */
  display: block;
} 
.culture-jp {
  font-size: 28px;
  font-weight: bold;
}
.culture-description {
  margin: 0;
}
#vision {
  margin: 80px auto 80px auto;
}
#vision > div {
  width: 100%;
  display: flex;
  /* 一番左と一番右の子要素を両端に配置し、残りの子要素を均等な間隔で配置する */
  justify-content: space-between;
  /* 幅が足りなくなったら下に折り返す */
  flex-wrap: wrap;
}
.vision-box {
  /* 正方形にする。親要素の幅が1080pxの為、3つ横に並ぶと下に折り返す仕組み */
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
}
.vision-box > img {
  width: 100%;
  height: auto;
  /* vision-boxに合わせて画像を配置 */
  position: absolute;
  top: 0;
  left: 0;
  /* 値が大きい方が上に重なる */
  z-index: 30;
}
.vision-box > span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 31;
  margin-right: 20px;
}
.vision-box > span > h4 {
  color: #2710d5;
  margin-top: 80px;
}
.vision-box > span > h4::first-letter {
  font-size: 40px;
}
.vision-box > span > h5 {
  font-size: 20px;
  margin: 0;
}
.vision-box > span > p {
  margin-top: 10px;
}

#cases {
  margin: 40px 0;
  width: 100%;
}

.company {
  margin: 80px auto;
}
#company-table {
  width: 100%;
}
.tableheader {
  text-align: left;
  padding: 20px;
  border-bottom-color: #2710d5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100px;
}
.tableheader-first {
  text-align: left;
  padding: 20px;
  border-bottom-color: #2710d5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: #2710d5;
  border-top-width: 1px;
  border-top-style: solid;
  width: 100px;
}
.cell {
  padding: 30px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.cell-first {
  padding: 30px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: #ececec;
  border-top-width: 1px;
  border-top-style: solid;
}
#company > iframe {
  width: 100%;
  height: 368px;
  margin-top: 40px;
}

#contact {
  margin: 80px auto;
}
/* 外枠 */
#contact > form > div {
  display: flex;
  /* 子要素を左から右に配置する */
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.contact-heading {
  width: 240px;
  /* 縦方向の揃え方が中央揃え */
  align-self: center;
}
.contact-label {
  font-weight: bold;
}
.contact-span {
  color: #ce2222;
  margin-left: 20px;
  font-weight: bold;
}
.contact-textbox {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fafafa;
  width: 400px;
  height: 56px;
}
.contact-textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fafafa;
  width: 400px;
  height: 200px;
}
details {
  width: 700px;
}
details > div {
  background-color: #fafafa;
  padding: 20px;
}
details > div > span {
  font-weight: bold;
}

footer {
  background-color: #0d0d0d;
  text-align: center;
  padding: 80px 80px 30px 80px ;
}
#footer-logo {
  margin-bottom: 30px;
}

#footer-link {
  margin-bottom: 50px;
}

#footer-link > a {
  /* リンクの下線を非表示にする */
  text-decoration: none;
  margin: 10px;
}

/* 未訪問のリンクについて */
#footer-link > a:link {
  color: #ffffff;
}

/* 訪問済みのリンクについて */
#footer-link > a:visited {
  color: #ffffff;
}

/* マウスカーソルがリンクに重なった時の状態 */
#footer-link > a:hover {
  color: #ffffff;
  /* 下線を表示する */
  text-decoration: underline;
}

/* クリック時の状態 */
#footer-link > a:active {
  color: #ffffff;
}

#sns-footer {
  text-align: left;
  width: 100%;
}

#sns-footer > a {
  margin-right: 30px;
}

#copyright {
  color: #ffffff;
  /* 右寄せにする */
  float: right;
}

/* MISSION.html用スタイル */
/* ミッションのメインビジュアル */
#mission-main {
  height: 496px;
  width: 100%;
  background-image: url("images/mission/mission-main.png");
  background-repeat: no-repeat;
  /* 背景画像のy軸（縦方向）の位置を指定するプロパティ */
  background-position-y: center;
}
/* 見出やパンくずリストをグループ化するdiv要素 */
#mission-title {
  background-color: #2710d5;
  width: 368px;
  color: #ffffff;
  height: 496px;
  border-radius: 0 248px 248px 0;
  /* 子要素を絶対値で配置できるように設定 */
  position: relative;
}
#mission-title > h1 {
  position: absolute;
  top: 0;
  left: 100px;
  font-size: 80px;
}
#mission-title > span {
  position: absolute;
  top: 200px;
  left: 100px;
  font-size: 26px;
}
#mission-title > div {
  position: absolute;
  top: 350px;
  left: 100px;
  font-size: 16px;
}
#mission-s2dgs {
  width: 100%;
  margin: 20px;
}
/* 見出し */
.mission-h2 {
  color: #2710d5;
  font-size: 40px;
}
/* 見出し後の擬似要素 */
.mission-h2::after {
  /* 追加した青線を削除する */
  content: none;
}
#mission-5goal {
  margin: 20px;
  display: flex;
}
/* 左右のコラムをグループ化するdiv要素 */
#mission-5goals > div {
  /* アイテム（子要素）がどれくらい伸びるかを指定する */
  flex-grow: 1;
  padding: 20px;
}
#mission-5goals > div > div {
  margin-bottom: 40px;
}
.fivegoals-image-right {
  /* 要素の並びを右寄せに指定する */
  float: right;
  margin: 20px;
}
.fivegoals-image-left {
  /* 要素の並びを右寄せに指定する */
  float: left;
  margin: 20px;
}
.fivegoals-number {
  color: #2710d5;
  font-size: 48px;
  margin: 0;
}
.fivegoals-h3 {
  font-size: 28px;
  margin: 0;
}
.fivegoals-p {
  margin: 0;
}

 /* ------------- */
 /* プロダクトページ */
 /* ------------- */
#product-main {
  height: 496px;
  width: 100%;
  background-image: url("images/product/product-main.png");
  background-repeat: no-repeat;
  background-position-y: center;
}
#product-title {
  background-color: #2710d5;
  width: 368px;
  color: #ffffff;
  height: 496px;
  border-radius: 0 248px 248px 0;
  /* 子要素の位置を変えるため */
  position: relative;
}
#product-title > h1 {
  position: absolute;
  top: 0;
  left: 100px;
  font-size: 80px;
}
#product-title > span {
  position: absolute;
  top: 200px;
  left: 100px;
  font-size: 26px;
}
#product-title > div {
  position: absolute;
  top: 350px;
  left: 100px;
  font-size: 16px;
}
/* セクション1 */
.product-section1 {
  position: relative;
  margin: 20px;
  height: 340px;
}
.product-section1 >img {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  margin: 0 40px 30px 0;
  border-radius: 0 432px 0 0;
}
.product-section1 > div {
  position: absolute;
  top: 0;
  left: 480px;
}
.product-section2 {
  position: relative;
  margin: 20px;
  height: 340px;
}
.product-section2 > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  margin: 0 0 30px 40px;
  border-radius: 432px 0 0 0;
}
.product-section2 > div {
  width: 500px;
  position: absolute;
  top: 0;
  right: 480px;
}
.product-h2 {
  color: #2710d5;
  font-size: 24px;
  margin: 0;
}
.product-h3 {
  font-size: 28px;
  margin: 0;
}
}

/*====================
  スマートフォン用のスタイル
  =====================*/
  /* 画面幅が767px以下のときにスタイルを適用する */
  @media screen and (max-width: 767px) {
  body {
    min-width: 375px;
    margin: 0;
  }
  /* PC用ナビゲーション非表示 */
  #nav-pc {
    display: none;
  }
  /* ハンバーガーメニュー */
  #menu-sp {
    /* 右上に表示 */
    float: right;
    padding: 0;
  }

  /* スマホ用ナビゲーションの表示切替 */
   /* 初期状態、レイアウトと非表示設定 */
  #nav-sp {
    background-color: #2710d5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    /* どの要素よりも上に重ねる */
    z-index: 100;
  }
  /* ×ボタン */
  #close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  /* ナビゲーションメニュー用ロゴ */
  #logo-sp {
    margin: 80px 0 30px 20px;
  }

  /* ナビゲーションのリンクの装飾設定 */
  #nav-sp > a {
    display: block;
  }
  #nav-sp > a:link {
    color: #ffffff;
  }
  #nav-sp > a:visited {
    color: #ffffff;
  }
  #nav-sp > a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  #nav-sp > a:active {
    color: #ffffff;
  }
  #nav-sp > .menu {
    text-decoration: none;
    display: block;
    margin: 0 20px;
    height: 44px;
    font-size: 16px;
    background-image: url(images/arrow.png);
    /* 上記のコードを繰り返さない */
    background-repeat: no-repeat;
    /* 右上に配置 */
    background-position: right top;
  }
  #sns {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  /* 各リンクの幅を指定 */
  #sns > a {
    margin-right: 30px;
  }
  /* メインビジュアル */
  #main-visual {
    position: relative;
    height: 470px;
    width: 100%;
    /* 「領域内に入りきらない要素をどのように表示するか」 */
    /* 初期値のvisibleだとはみ出た部分が表示されるがhiddenにするとはみ出た部分が非表示になる */
    overflow: hidden;
  }
  #main-visual > div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2710d5;
    color: white;
    /* 左上、右上、右下、左下の順 */
    border-radius: 0 0 476px 0;
    text-align: center;
    height: 280px;
    width: 100%;
    z-index: 11;
  }
  #main-visual > div > h1 {
    font-size: 28px;
    margin-top: 90px;
  }
  #main-visual > div > p {
    margin: 0;
  }
  /* メインビジュアルの写真イメージ */
  #main-visual > img {
    width: 100%;
    border-radius: 476px 0 0 0;
    /* メッセージが上に重なる様にする */
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  h2::after {
    content: url("images/line.png");
    margin-left: 10px;
  }
  h3 {
    font-size: 24px;
    margin: 10px 0 0 0;
  }
  #product {
    background-color: #fafafa;
    padding: 10px;
  }
  #product > h2 {
    margin-left: 20px;
  }
  #product-left,
  #product-right {
    margin: 0 20px;
  }
  /* 画像＋説明の枠 */
  #product-left > div,
  #product-right > div {
    position: relative;
    height: 540px;
  }
  .product-explain {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 50px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  }
  /* 英語の見出し */
  .product-explain > span {
    color: #2710d5;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }
  .product-explain > h3 {
    margin: 10px 0;
  }
  .product-photo {
    width: 100%;
  }
  /* もっと見るボタン */
  #product-more > img {
    margin: 0 0 -42px 20px;
  }
  #aboutus {
    margin: 80px 20px;
  }
  #aboutus > div {
    /* 画像と表を上から下に配置する */
    display: flex;
    flex-direction: column;
  }
  /* 表の設定 */
  .culture-table {
    width: 100%;
    padding-right: 20px;
    order: 2;
  }
  /* 1枚目の画像 */
  .culture-img {
    width: 100%;
    order: 1;
  }
  .culture-img2 {
    width: 100%;
  }
  /* 表の番号 */
  .culture-num {
    font-size: 80px;
    color: #2710d5;
  }
  /* 表の英語見出し */
  .culture-en {
    color: #2710d5;
    font-weight: bold;
    font-size: 24px;
    display: block;
  }
  .culture-jp {
    display: block;
  }
  .culture-description {
    margin: 0;
  }
  #vision {
    margin: 80px 20px;
  }
  /* 一つ一つの「行動指針」をグループ化するdiv要素 */
  .vision-box {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    position: relative;
  }
  .vision-box > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
  }
  .vision-box > span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 31;
    margin-right: 20px;
  }
  .vision-box > span > h4 {
    color: #2710d5;
    font-size: 19px;
    margin-top: 60px;
  }
  .vision-box > span > h5 {
    font-size: 20px;
    margin: 0;
  }
  .vision-box > span > p {
    margin-top: 10px;
  }
  /* 会社概要全体 */
  #company {
    margin: 0 20px;
  }
  /* 会社概要 */
  #company > h3 {
    margin-bottom: 20px;
  }
  #company > table {
    width: 100%;
  }
  /* 表の一行目の見出し */
  .tableheader-first {
    text-align: left;
    padding: 20px;
    /* 下の枠線 */
    border-bottom-color: #2710d5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* 上の枠線 */
    border-top-color: #2710d5;
    border-top-width: 1px;
    border-top-style: solid;
    width: 50px;
  }
  /* 表の二行目以降の見出し */
  .tableheader {
    text-align: left;
    padding: 20px;
    border-bottom-color: #2710d5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 50px;
  }
  .cell {
    padding: 20px;
    /* 下の枠線 */
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .cell-first {
    padding: 20px;
    /* 下の枠線 */
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* 上の枠線 */
    border-top-color: #ececec;
    border-top-width: 1px;
    border-top-style: solid;
  }
  #company > iframe {
    width: 100%;
    height: 240px;
    margin-top: 40px;
  }
  /* お問い合わせフォーム */
  #contact {
    margin: 80px 20px;
  }
  #contact > h3 {
    margin-bottom: 20px;
  }
  #contact > form > div {
    margin-bottom: 20px;
  }
  .contact-heading {
    margin-bottom: 20px;
  }
  .contact-label {
    font-weight: bold;
  }
  .contact-span {
    color: #ce2222;
    margin-left: 20px;
    font-weight: bold;
  }
  .contact-textbox {
    height: 56px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #fafafa;
    border-bottom-color: #707070;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    min-width: 300px;
    width: 100%;
  }
  .contact-textarea {
    height: 150px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #fafafa;
    width: 100%;
  }
  /* ラジオボタンは複数の選択肢の中から1つだけ選択できるタイプのフォーム */
  .radiobutton {
    margin-bottom: 20px;
  }


  /* 「+」は、隣接する（隣りにある）要素をセレクタに指定するときに用いる記号 */

  .radiobutton + label::after {
    /* cssで改行するためのプロパティ */
    /* 「\A」という文字は改行を表します。 */
    /* contentは文字や記号、アイコンなどのコンテンツを追加できるプロパティ */
    /* 「\」は「バックスラッシュ」と読みます。バックスラッシュはキーボードの「￥」キー（Macの場合はoptionキーを押しながら「￥」キー）で入力できます。 */
    content: "\A";
    white-space: pre;
  }



/* セレクタ	意味
a, b	  aとbの両方
a b	    aの中にあるbすべて（子孫要素）
a > b	  a直下のb（子要素）
a + b	  aに隣接するb */

/* footer 要素 */
footer {
  background-color: #0d0d0d;
  padding: 30px 20px 50px 20px;
}
/* ロゴ画像を囲むdiv要素 */
#footer-logo {
  margin-bottom: 30px;
}
/* ハイパーリンクをグループ化するdiv要素 */
#footer-link {
  margin-bottom: 50px;
}
#footer-link > a {
  text-decoration: none;
  margin: 0 20px 30px 0;
  display: block;
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
}
#footer-link > a:link {
  color: #ffffff;
}
#footer-link > a:visited {
  color: #ffffff;
}
#footer-link > a:hover {
  color: #ffffff;
  text-decoration: underline;
}
#footer-link > a:active {
  color: #ffffff;
}
#sns-footer > a {
  margin-right: 30px;
}
#copyright {
  font-size: 12px;
  display: block;
  margin-top: 30px;
  color: #ffffff;
}

/* mission.html用スタイル */
   /* ミッションのメインビジュアル */
#mission-main {
  height: 256px;
  width: 100%;
  background-image: url("images/mission/mission-main.png");
  background-repeat: no-repeat;
  background-position-y: center;
  /* background-sizeは横、縦の順で記載する */
  background-size: auto 208px;
}
#mission-title {
  background-color: #2710d5;
  width: 136px;
  color: #ffffff;
  height: 256px;
  border-radius: 0 248px 248px 0;
  position: relative;
}
#mission-title > h1 {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 40px;
}
#mission-title > span {
  position: absolute;
  top: 110px;
  left: 20px;
  font-size: 18px;
}
#mission-title > div {
  position: absolute;
  top: 180px;
  left: 20px;
  font-size: 13px;
}

/* 「S2DGs」セクションをレスポンシブに対応 */
#mission-s2dgs {
  margin: 20px;
}
/* 見出し */
.mission-h2 {
  color: #2710d5;
  font-size: 38px;
}
.mission-h2::after {
  content: none;
}
/* 親要素のimgタグ */
#mission-s2dgs > img {
  width: 100%;
}
#mission-5goals {
  margin: 20px;
}
#mission-5goals > div > div {
  margin-bottom: 40px;
}
#s2dgs-image {
  width: 100%;
}
.fivegoals-image-right {
  /* 中央揃えにする */
  margin: 20px auto;
  display: block;
}
.fivegoals-image-left {
  /* 中央揃えにする */
  margin: 20px auto;
  display: block;
}
.fivegoals-number {
  color: #2710d5;
  font-size: 48px;
  margin: 0;
}
.fivegoals-h3 {
  font-size: 28px;
  margin: 0;
}
.fivegoals-p {
  margin: 0;
}
/* ------------------- */
/* プロダクトのレスポンシブ */
#product-main {
  height: 256px;
  width: 100%;
  background-image: url("images/product/product-main.png");
  background-repeat: no-repeat;
  background-position-y: center;
  /* background-sizeは横、縦の順で記載する */
  background-size: auto 208px;
}
#product-title {
  background-color: #2710d5;
  width: 136px;
  color: #ffffff;
  height: 256px;
  border-radius: 0 248px 248px 0;
  position: relative;
}
#product-title > h1 {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 40px;
}
#product-title > span {
  position: absolute;
  top: 110px;
  left: 20px;
  font-size: 18px;
}
#product-title > div {
  position: absolute;
  top: 180px;
  left: 20px;
  font-size: 13px;
}
/* PCでは画像が左パターンのsection要素 */
.product-section1 {
  margin: 20px;
}
/* PCでは左パターンの画像 */
.product-section1 > img {
  width: 100%;
  border-radius: 0 300px 0 0;
}
/* PCでは画像が右パターンのsection要素 */
.product-section2 {
  margin: 20px;
}
/* PCでは右パターンの画像 */
.product-section2 > img {
  width: 100%;
  border-radius: 300px 0 0 0;
}
.product-section2 > div {
  order: 2;
}
.product-h2 {
  color: #2710d5;
  font-size: 24px;
  margin: 0;
}
.product-h3 {
  font-size: 28px;
  margin: 0;
}
}